html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;;   
}

.max-width{
    max-width: 1440px;
}

.pointer{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

.menu-highlighter{   
    border-bottom: 3px solid #F44336 !important;
}

.content{
    padding: 20px 30px;
    margin-top: 5rem;
}

.menu-bar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar li{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ddd;    
}
