html, body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;;   
}

.max-width{
    max-width: 1440px;
}

.padding1015{
    padding: 10px 15px;
}

.pointer{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

.menu-highlighter{   
    border-bottom: 3px solid #F44336 !important;
}

.content{
    /* padding: 10px 15px; */
    margin-top: 5rem;
    padding: 2rem;
}

.section{    
    background-color: #f5f5f5;
    padding: 20px 30px;
    margin-bottom: 2rem;
    
}

table td{
    padding: 0.5rem;
    position: relative;
    /* border: 1px solid #ddd; */
}

table tr:not(:last-of-type){
    border-bottom: 1px solid #ddd;
}

.vertical-center{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

.instagram{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .image-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
  }
  .service-title{
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 20px 30px; 
    background-color: rgba(0,0,0,0.4);
    color: #f5f5f5;
    font-size: 21px;
  }

  .gradient{
    background: #9CECFB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.tiktok{
  color: #111111;
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}

.sub-title{
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: .875em;
  color: #6c757d;
}

.image-banner{
  height: 420px;
}

.image-banner img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.1s ease-in-out;
}